 <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2000-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ url_for('founders') }}">Founders</a></li>
            <li><a class="text-muted" href="{{ url_for('technology') }}">Technology</a></li>
            <li><a class="text-muted" href="{{ url_for('pipeline') }}">Pipeline</a></li>
            <li><a class="text-muted" href="{{ url_for('otheroptions') }}">Other Docking Labs & Software</a></li>
            <li><a class="text-muted" href="{{ url_for('caveat_lector') }}">Caveat Lector</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ url_for('vscreen') }}">Virtual Screening</a></li>
            <li><a class="text-muted" href="{{ url_for('libdesign') }}">Library Design</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Success Stories</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ url_for('successstories') }}">Overview</a></li>
            <li><a class="text-muted" href="{{ url_for('ptp1b') }}">PTP-1B</a></li>
            <li><a class="text-muted" href="{{ url_for('ampc')}}">AmpC beta-Lactamase</a></li>
            <li><a class="text-muted" href="{{ url_for('model') }}">Model Cavity Sites</a></li>
              <li><a class="text-muted" href="{{ url_for('tm0936') }}">Predict substrate: Tm0936</a></li>
          </ul>
        </div>
          <div class="col-6 col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ url_for('contacts') }}">Contact Us</a></li>
            <li><a class="text-muted" href="{{ url_for('affiliates') }}">Affiliates</a></li>
          </ul>
        </div>
      </div>
    </footer>


<hr>
<footer class="footer page-footer font-small">

  <div class="footer-copyright text-center py-3">
      <p>© 2000-2018 Blue Dolphin Lead Discovery, LLC. Last updated Aug 1, 2018.</p>
      <p>Please address comments about this website to <a href="mailto:bluedolphindiscovery@gmail.com">bluedolphindiscovery@gmail.com</a></p>
  </div>

</footer>
